@charset "utf-8";
@import "normalize";

@font-face {
  font-family: 'SourceCodePro';
  src: url('../fonts/SourceCodePro-Regular.otf');
}

li {
  /* Because some list items have inline code in them */
  margin-bottom: 5px;
}

.site-header {
  position: fixed;
  height: 30px;
  width: 160px;
  padding: 5px;

  font-size: 1em;
  color: white;
  top: 10px;
  right: 2%;
  background-color: rgba(0, 0, 0, 0.4);

  .title {
    text-align: center;
  }    
  .index-link {
    float: right;
    display: none;
    a {
      color: #a52a2a;
    }
  }
  .menu-items {
    display: none;
    .item {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

code {
  font-family: 'SourceCodePro', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  margin: 0 2px;
}

body {
  background: #ECC561;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;

  h1 {
    text-align: center;
    padding-bottom: 10px;
  }

  padding: 20px 10px;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

.next_lesson_link {
  float: right;
}

.glossary img,
.lessons img {
  display: block;
  margin: 0 auto;
}
.answer {
  color: blue;
}

pre[class*="language-"] {
  margin: 0;
}

.code-insert pre {
  display: none;
}

.code-insert:before {
  display: block;
  content: 'The code in this page is';
  background-color: #AE7337;
  padding: 5px 0 5px 20px;
}
.acro-large {
  font-size: 1.1em;
  font-weight: bold;
}
